<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="Login.css">
  <script src="login.js" defer></script>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <input type="text" id="user" placeholder="Usuário">
    <input type="password" id="pass" placeholder="Senha">
    <button onclick="login()">Entrar</button>
    <a href="cadastro.html">Cadastrar</a>
    <a href="recuperaçaosenha.html">Esqueceu a senha?</a>
  </div>
</body>
</html>
